body {
    margin: 0;
    line-height: normal;
  }
  .buyer {
    position: absolute;
    top: 11px;
    left: 35px;
    font-size: var(--font-size-2xs);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
  }
  .buyer-wrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-white);
    position: absolute;
    top: 10px;
    left: 986px;
    width: 111px;
    height: 41px;
    overflow: hidden;
  }
  .frame-child,
  .instance-parent {
    position: absolute;
    left: 0;
    width: 1440px;
    overflow: hidden;
  }
  .frame-child {
    top: 60px;
    height: 609px;
    object-fit: cover;
  }
  .instance-parent {
    top: 50px;
    height: 60px;
  }
  .admin {
    position: absolute;
    top: 11px;
    left: 33px;
    font-size: var(--font-size-2xs);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
  }
  .admin-wrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-white);
    position: absolute;
    top: 60px;
    left: 1135px;
    width: 111px;
    height: 41px;
    overflow: hidden;
  }
  .farmer {
    position: absolute;
    top: 11px;
    left: 30px;
    font-size: var(--font-size-2xs);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
  }
  .farmer-wrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-white);
    position: absolute;
    top: 60px;
    left: 835px;
    width: 111px;
    height: 41px;
    overflow: hidden;
  }
  .home {
    position: absolute;
    top: 11px;
    left: 34px;
    font-size: var(--font-size-2xs);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
  }
  .home-wrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-white);
    position: absolute;
    top: 60px;
    left: 685px;
    width: 111px;
    height: 41px;
    overflow: hidden;
  }
  .name {
    position: absolute;
    top: 175px;
    left: 55px;
  }
  .address,
  .contact-number,
  .email {
    position: absolute;
    top: 323px;
    left: 53px;
  }
  .address,
  .email {
    top: 242px;
    left: 55px;
  }
  .address {
    top: 401px;
  }
  .set-password,
  .set-username {
    position: absolute;
    top: 524px;
    left: 53px;
  }
  .set-password {
    top: 605px;
    left: 55px;
  }
  .frame-child1,
  .frame-child2,
  .frame-child3,
  .frame-inner,
  .frame-input,
  .frame-item {
    border: 0;
    background-color: var(--color-dimgray-200);
    position: absolute;
    top: 175px;
    left: 269px;
    border-radius: var(--br-sm);
    width: 373px;
    height: 40px;
    overflow: hidden;
  }
  .frame-child1,
  .frame-child2,
  .frame-child3,
  .frame-inner,
  .frame-input {
    top: 318px;
    width: 300px;
  }
  .frame-child1,
  .frame-child2,
  .frame-child3,
  .frame-input {
    top: 239px;
  }
  .frame-child1,
  .frame-child2,
  .frame-child3 {
    top: 400px;
    width: 373px;
    height: 80px;
  }
  .frame-child2,
  .frame-child3 {
    top: 519px;
    width: 300px;
    height: 40px;
  }
  .frame-child3 {
    top: 600px;
  }
  .already-registered {
    position: absolute;
    top: 692px;
    left: 334px;
    font-size: var(--font-size-xs);
    color: var(--color-dimgray-100);
  }
  .frame-child4,
  .line-icon {
    position: absolute;
    top: 701.5px;
    left: 507px;
    width: 270px;
    height: 2.02px;
  }
  .frame-child4 {
    top: 700.5px;
    left: 10px;
    width: 318px;
    height: 2.01px;
  }
  .span {
    font-size: var(--font-size-base);
  }
  .get-yourself-register {
    font-size: var(--font-size-lg);
  }
  .welcome-get-yourself-container {
    position: absolute;
    top: 60px;
    left: 55px;
    display: inline-block;
    width: 587px;
    height: 44px;
    font-size: var(--font-size-xl);
  }
  .submit {
    position: absolute;
    top: 9px;
    left: 39px;
    font-size: var(--font-size-xs);
    letter-spacing: 0.02em;
    display: none;
    font-family: var(--font-inter);
    color: var(--color-gray-100);
    text-align: left;
  }
  .submit-wrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-forestgreen);
    position: absolute;
    top: 766px;
    left: 362px;
    border-radius: var(--br-md);
    width: 111px;
    height: 40px;
    overflow: hidden;
    opacity: 0.8;
  }
  .submit1 {
    position: absolute;
    top: 773px;
    left: 385px;
    font-size: var(--font-size-xs);
    letter-spacing: 0.02em;
    display: flex;
    color: var(--color-white);
    align-items: center;
    width: 94px;
    height: 25px;
  }
  .name-parent {
    position: absolute;
    top: 231px;
    left: 322px;
    border-radius: var(--br-lg);
    background-color: var(--color-white);
    width: 795px;
    height: 850px;
    overflow: hidden;
  }
  .farmigo {
    position: absolute;
    top: 47px;
    left: 33px;
    font-size: var(--font-size-2xl);
    font-weight: 800;
    color: var(--color-darkolivegreen-100);
    text-align: center;
    display: inline-block;
    width: 376px;
    height: 75px;
  }
  .seller-registration {
    position: relative;
    background: linear-gradient(
      122.41deg,
      #e6f0e3 46.84%,
      rgba(228, 233, 247, 0)
    );
    width: 100%;
    height: 1300px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 1200px) {
    .farmigo {
      opacity: 0;
    }
    .farmigo.animate {
      animation: 1s ease 0s 1 normal forwards fade-in;
    }
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  